<form method="post" action="{{ path('service_delete', {'id': service.id}) }}" onsubmit="return confirm('Are you sure you want to delete {{ service.libelle }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn btn-danger btn-lg ">Delete <i class="fa fa-trash-alt"></i></button>
</form>
