{% extends 'base.html.twig' %}
{% block title %} Bienvenue{% endblock %}
{% block body %}

    <link rel="stylesheet" type="text/css" href="../styles/accueil.css">

    <body>
        <div class="image"></div>
        <div class="contenu">
            <h2 class="text-center">WELCOME TO OUR CENTER <br>
                BOOK YOUR SERVICES</h2>
            <div class="text-center">
            <a href="{{ path('reservation_new') }}"> 
                <button class="btn btn-primary btn-lg" style="font-weight: bold;">Make a Reservation</button>
            </a>
            </div>
        </div>
    </body>
{% endblock %}
