.image{position:absolute ;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image:url("../images/accueil.jpg");
        background-size: cover;
        height: 750px ;
        background-color: rgba(0, 0, 0, 0.5);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);}
    .contenu{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 9999;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 300px;
      }