<link rel="stylesheet" type="text/css" href="../styles/menu.css">

<nav class=" navbar navbar-expand-sm bg-light justify-content-center sticky-top" >
    <img src="../images/logo.png" alt="Logo">
    <ul class="navbar-nav " >
        <li class="nav-item " >
            <a href="{{ path('client_index') }}" class="nav-link bouton a">Clients</a>
        </li>
        <li class="nav-item ">
            <a href="{{ path('service_index') }}" class="nav-link bouton a" >Services</a>
        </li>
        <li class="nav-item  " >
            <a href="{{ path('reservation_index') }}" class="nav-link bouton a" >Reservations</a>
        </li>
    </ul>

</nav>